
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
    <title>ONLINE STAFF HELPDESK SYSTEM</title>
    {% load static %}
    <link type="text/css" rel="stylesheet"  href="{% static 'account/css/style.css' %}"/>
</head>
<body>
     <center>
        <div class="base">
            <div id="logo">
                <img src="{% static 'account/imag/tempsnip.png' %}"t width="200" height="200" />
            </div>
            <div id="info1">
                <b>Staff HelpDesk System</b>
            </div>
            <div id="info2">
                Sign in to continue to Staff Helpdesk System
            </div>
            <div id="form1" style="height: 460px">
                <form method="POST">
                    {% csrf_token %}
                    
                                    <div id="form-img">
                                        <img src="{% static 'account/imag/profile-img.png' %}" width="99" height="99" />
                                    </div>
                                    <div id="mailbox">
                                        <input placeholder="Enter Staff Id"  name="staff_id" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                                    </div>
                                    <div id="mailbox">
                                        <input placeholder="Enter First Name"  name="first_name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                                    </div>
                                    <div id="mailbox">
                                        <input placeholder="Enter Last Name"  name="last_name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                                    </div>
                                    <div id="mailbox">
                                        <input placeholder="Enter Password" type="password" name="password1" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                                    </div>
                                    <div id="mailbox">
                                        <input placeholder="Confirm Password" type="password" name="password2" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                                    </div>

                                    <div>
                                        <input type="submit" id="button2" value="Create" />
                                    </div>
                    
                </form>
                
            </div id="info3" >
            If you have an existing account, you can <big><strong><a href="{% url 'login' %}">login</a></strong></big>
                <div id="info5">
                    With Online Staff Helpdesk System everything is posible 
                </div>
            </div>
        </div>
    </center>
</body>

</html>